:root {
  --bg-page: var(--clr-neutral-100);
  --bg-card: var(--clr-neutral-0);

  --text-primary: var(--clr-neutral-700);
  --text-secondary: var(--clr-neutral-500);
  --text-logo: var(--clr-neutral-900);
}

.dark {
  --bg-page: var(--clr-neutral-900);
  --bg-card: var(--clr-neutral-800);

  
  --text-primary: var(--clr-neutral-0);
  --text-logo: var(--text-primary);
  --text-secondary: var(--clr-neutral-0); /*opacity 70%*/
}
