.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: var(--fs-preset-1);
  font-weight: var(--fw-bold);
  line-height: var(--lh-100);
  letter-spacing: var(--ls-none);

  color: var(--logo-icon);
}
