header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95vw;
}
.logo {
  font-size: var(--fs-preset-1);
  font-weight: var(--fw-bold);
  line-height: var(--lh-100);
  letter-spacing: var(--ls-none);

  color: var(--text-logo);
}
.themeToggle {
  display: flex;
  align-items: center;
  
  gap: var(--spacing-150);
  background: none;
  border: none;
  border-radius: var(--radius-4);
  outline: none;
  text-transform: uppercase;

  font-size: var(--fs-preset-8);
  font-weight: var(--fw-bold);
  line-height: var(--lh-140);
  letter-spacing: var(--ls-loose);
  color: var(--text-secondary);
  
}
.themeToggle:hover, .themeToggle:focus-visible {
    cursor: pointer;
    color: var(--clr-neutral-700);
}

.themeToggle:hover path, .themeToggle:focus-visible path {
    fill: var(--clr-neutral-700);
}

.themeToggle:focus-visible {
     box-shadow: 0 0 0 3px var(--clr-neutral-100),
    0 0 0 5px var(--clr-blue-500); 
}

