.themeToggle {
  display: flex;
  align-items: center;

  gap: var(--spacing-150);
  background: none;
  border: none;
  border-radius: var(--radius-4);
  outline: none;
  text-transform: uppercase;

  font-size: var(--fs-preset-8);
  font-weight: var(--fw-bold);
  line-height: var(--lh-140);
  letter-spacing: var(--ls-loose);

  color: var(--text-toggle);
}
.themeToggle:hover,
.themeToggle:focus-visible {
  cursor: pointer;
  color: var(--text-toggle-active);
}

.themeToggle:focus-visible {
  box-shadow:
    0 0 0 3px var(--bg-page),
    0 0 0 5px var(--text-accent);
}
