.profileSection {
  background-color: var(--bg-card);
  padding: 32px 24px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
}
.userAvatar {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-inline-end: 20px;
}
.profileName {
  font-size: var(--fs-preset-1);
  font-weight: var(--fw-bold);
  line-height: var(--lh-120);
  letter-spacing: var(--ls-none);
  color: var(--text-primary);
}
.profileLogin {
  font-size: var(--fs-preset-4);
  font-weight: var(--fw-regular);
  line-height: var(--lh-150);
  letter-spacing: var(--ls-none);
  color: var(--clr-blue-500);
}
.profileJoinDate {
  font-size: var(--fs-preset-6);
  font-weight: var(--fw-regular);
  line-height: var(--lh-150);
  letter-spacing: var(--ls-none);
  color: var(--text-secondary);
  margin-block-start: 4px;
}
.profileInfo {
  grid-column: span 2;
  display: grid;
  gap: var(--spacing-300);
  margin-block-start: var(--spacing-300);
}
.profileBio {
  color: var(--text-secondary);
}
.muted {
  opacity: 0.7;
}
@media (min-width: 48rem) {
  .profileSection {
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto 1fr;
    align-items: start;
  }
  .userAvatar {
    height: 117px;
    width: 117px;
    grid-row: 1 / -1;
    margin-inline-end: var(--spacing-400);
  }
  .profileHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .profileLogin {
    margin-block-start: var(--spacing-025);
  }
  .profileJoinDate {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    justify-self: end;
  }
  .profileHeader,
  .profileInfo {
    grid-column: 2 / -1;
  }
}
